/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
:root.theme-dark {
  --heading-text: #db00ff;

  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-subtitle: #ff0070;
  --border-bottom: #f1b2ce;
  --section-title-color: #ff0070;
  --header-button-bg-color: transparent;
  --header-text-color: #000028;
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070; /* цвет заголовка второго уровня */
  --color-h3: #000028;
  --footer-color: #db00ff;
  --secondari-title: #ff0070;
  --button-color-hover: #ff007080;
  --button-color-active: #ff0070;
  --button-color-focus: #ff0070;
  --link-focus-color: #f1b2ce;
}

.theme-dark .header__rec {
  display: block;
}
